body {
  width: 1100px;
  margin: auto;
  background: black;
}

h1 {
  float: left;
  margin-top:80px;
  margin-left: 39%;
  font-family: 'pacfont';
  font-size: 40px;
  color: #00ffde;
}

@font-face {
	font-family: 'pacfont';
	src: url('../assets/fonts/pac-font.ttf');
}

p {
  position: absolute;
  font-family: fantasy;
  font-weight: 600;
  color:white;
  font-size: 24px;
  top: 310px;
}

#jonah-name {
  left: 190px;
}

#vitaliy-name {
  left: 420px;
}

#slavik-name {
  left: 650px;
}

#tim-name {
  left: 890px;
}

section img {
  position: relative;
  float: left;
  opacity: 0.2;
  height: 670px;
  width: 100%;
}

.aboutus{
  float: left;
  position: absolute;
  margin-top: 90px;
  color: ##ff0000;
}

#jonah-pic {
  width: 200px;
  height: auto;
  position: absolute;
  margin-top: 170px;
  margin-left: 125px;
  border-radius: 50%;
}

#vitaliy-pic {
  width: 200px;
  height: auto;
  position: absolute;
  margin-top: 170px;
  margin-left: 350px;
  border-radius: 50%;
}

#slavik-pic {
  width: 200px;
  height: auto;
  position: absolute;
  margin-top: 170px;
  margin-left: 580px;
  border-radius: 50%;
}

#tim-pic {
  width: 200px;
  height: auto;
  position: absolute;
  margin-top: 170px;
  margin-left: 805px;
  border-radius: 50%;
}

ul li {
  width: 200px;
  display: inline-block;
  position: absolute;
  text-align: center;
  line-height: 20px;
  margin-top: 390px;
  margin-left: 55px;
  padding: 0px 15px 0px 25px;
  color: orange;
  font-family: 'Press Start 2P';
}
ul li:nth-child(2) {
  margin-left: 285px;
}

ul li:nth-child(3) {
  margin-left: 520px;
}

ul li:nth-child(4) {
  margin-left: 745px;
}

button {
  float: left;
  margin-left: 40%;
  margin-top: 40px;
  border: 3px solid blue;
  padding: 8px 18px;
  color: #fff;
  border-radius: 40px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  -webkit-animation: glowing 1500ms infinite;
  }

 @-webkit-keyframes glowing {
  0% { background-color: pink;}
  50% { background-color: red; }
  100% { background-color: green;}
}
