
@font-face {
  font-family: pacfont;
  src: url('../assets/fonts/pac-font.ttf');
}

.logo-wrap {
  height: 155px;
  padding-top: 20px;
}

#make-america {
  -webkit-animation: moveamerica 3s;
  animation: moveamerica 3s;
  margin-left: 290px;
  position: absolute;
  height: 60px;
}

@-webkit-keyframes moveamerica {
  from {right: 1200px;}
  to {right: 468px;}
}

#guess-again {
  -webkit-animation: movegreat 3s;
  animation: movegreat 3s;
  margin-left: 330px;
  position: absolute;
  height: 60px;
  margin-top: 70px;
}

@-webkit-keyframes movegreat {
  from {left: 900px;}
  to {left: 170px;}
  }

#top-border {
  width: 100%;
}

label {
  margin-left: 27.5%;
  font-size: 26px;
  color: pink;
  vertical-align: middle;
  font-family: 'Press Start 2P', cursive;
}

input[type="text"] {
  margin-top: 50px;
  padding: 5px 0px 5px 0px;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  color: orange;
  border: 1px solid blue;
  border-radius: 3px;
  width: 200px;
}

#start-btn {
  margin-top: 50px;
  margin-left: 43%;
  border: 3px solid blue;
  padding: 8px 18px;
  background: black;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  -webkit-animation: glowing 1500ms infinite;
  }

  @-webkit-keyframes glowing {
  0% { background-color: pink;}
  50% { background-color: red; }
  100% { background-color: green;}
}

section {
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 50px;
  padding: 20px 0px 20px 0px;
  border: 3px solid blue;
  border-radius: 10px;
  background: black;
}

h2 {
  padding-bottom: 20px;
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  color: red;
}

li {
  padding-top: 5px;
  font-family: 'Press Start 2P', cursive;
  color: orange;
  font-size: 20px;
}

#bottom-border {
  margin-top: 150px;
  width: 100%;
}
